@using ComponentAsService
@using ExampleComponent
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ComponentAsService Example</title>
    <style>
        li,pre { margin: 0.25rem;}
        dd,dt{ line-height: 150%}
        * {font-family: Calibri, SansSerif}
        a, pre,code { font-family: "OCR A", Consolas, "Lucida Console", SansSerif; background-color: #ffe}
    </style>
</head>

<body>
    <h1>Your Mvc WebApp</h1>

    <h3>ComponentAsService Minimal Startup</h3>
    <ul>
        <li>Add the components you wish to serve to the <code>IServiceCollection</code> in your <code>StartUp</code> class.</li>
        <li>Call <code>AddComponentAsService()</code> </li>
        <li>Call <code>UseComponentAsService()</code></li>
    </ul>
    <code>
    <pre>
    public class Startup
    {
        public void ConfigureServices(IServiceCollection services)
        {
            services.AddScoped&lt;IExemplify, ExampleImp&gt;();
            services.AddComponentAsService();
        }

        public void Configure(IApplicationBuilder app, IHostingEnvironment env)
        {
            app.UseComponentAsService();
        }
    }
    </pre>
    </code>
    <h3>ComponentAsService Default Routing</h3>

    <dl>
        <dt><code>/{(I)nterfaceName}/{MethodName}?queryStringAndFormPostParameters</code></dt>

        <dd>routes to=><br /><code>return Component.Method(parameters)</code></dd>
    </dl>

    <h3>Examples</h3>

    <ul>
        @{
            var eg1 = nameof(IExemplify) + "/" + nameof(IExemplify.StringToNumbers) + "?string=abc";
            var eg2 = nameof(IComponentAsServiceDiagnostics) + "/" + nameof(IComponentAsServiceDiagnostics.GetRouteValues);
            var eg3 = eg2 + "?ThisWasAQueryStringParameter=p1&parameter2=more&more=evenmore&more=&more=3.141";
            var eg4 = nameof(IComponentAsServiceDiagnostics) + "/" + nameof(IComponentAsServiceDiagnostics.GetParameters) + "?a=this&b=that&c=3";
        }

        <li><a href="@eg1">@eg1</a>
        <li><a href="@eg2">@eg2</a>
        <li><a href="@eg3">@eg3</a>
        <li><a href="@eg4">@eg4</a>
    </ul>
</body>
</html>
